//Primary Colors
$white1: #fff;
$white2: #f5f5f5;
$white3: #f9f9f9;

$black1: #000;
$black2: #2d2d2d;

$green1: #86BC25;
$green2: #43B02A;
$green3: #046A38;
$green5: #2C5234;

$blue1: #62B5E5;
$blue2: #00A3E0;
$blue3: #0076A8;
$blue5: #012169;

//Components pallet

//Global Color
$pallet-global-bg: $blue2;

//Body
$pallet-body-bg: $white2;

//Header 
$pallet-header-bg: $black1;
$pallet-header-title: $white1;

//Footer
$pallet-footer-bg: $white3;
$pallet-footer-border-top: $black2;

